@import "Navbar.css";
@import "Footer.css";
@import "LandingPage.css";
@import "Services.css";
@import "About.css";
@import "Contact.css";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #0d1117;
    color: white;
    font-family: "Roboto";
}

.App{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.content{
    margin: 0 200px;
}

.title{
    border-left: 10px solid white;
    padding-left: 10px;
    margin-bottom: 30px;
    color: #a3a3a3;
    font-size: 50px;
}